.checkout-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem; 
    padding: 2rem;
    
  }
  
  .checkout-product-details {
    flex: 1; 
    max-width: 60%; 
  }
  .checkout-product-image{
    border-radius: 6px;

  }
  .checkout-ad{
    margin-top: 5rem;
    max-width: 100px;
    height: auto;
  }
  .upSell {
    flex: 1; 
    max-width: 35%; 
    position: sticky; 
    top: 5rem;
    right: 5rem; 
    z-index: 2;
  }
  
  .CrosSell{
    flex: 1; 
    max-width: 35%; 
    position: sticky; 
    top: 10rem; 
    right: 3rem;
   
  }
  .checkout-item {
    border: 1px solid #b5d6f5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    
    }
   .subtotal{
    margin-top: 4rem;
    margin-left: -15rem;
    z-index: 1;
   }
  
  .checkout-item img {
    max-width: 100px;
    height: auto;
  }
  
  .checkout-item button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .checkout-item button:hover {
    background-color: #cc0000;
  }