.size-container {
    display: flex;
    align-items: center;
}

.size-label {
    margin-right: 10px;
}

.size-form {
    display: flex;
    gap: 10px; 
}

.size-option {
    display: flex;
    align-items: center;
    gap: 5px; 
}
.stylish{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;

}

.tab-content {
    overflow: visible; 
  }
  
  .review-component {
    padding: 20px; 
  }
