/* Pour les très petits écrans (téléphones portables en mode portrait) */
@media only screen and (max-width: 575px) {
    .body-error {
      padding: 20px;
    }
    .center-error {
      width: 100%;
      max-width: 100%;
      margin: 0;
      
  
    }

  }
  
  /* Pour les petits écrans (téléphones portables en mode paysage) */
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .body-error {
      width: 90%;
  
    }
    .center-error {
      width: 150px;
    }
  }
  
  /* Pour les écrans moyens (tablettes) */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .body-error {
      padding: 20px;
      margin-left: 20rem;
    }
    .center-error {
      width: 70%;
    }
   
    
  }
  
  /* Pour les grands écrans (ordinateurs portables et plus grands) */
  @media only screen and (min-width: 992px) {
    .body-error {
        padding: 20px;
        margin-left: 25rem;
      }
      .center-error{
        width: 50%;
      }
   
  }
  
  /* Pour les très grands écrans (ordinateurs de bureau, écrans larges) */
  @media only screen and (min-width: 1200px) {
    .body-error {
      padding: 20px;
      margin-left: 25rem;
    }
    .center-error{
      width: 50%;
    }
   
   
  }
  