.category-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 10px;
    max-height: 300px;
  overflow-x: hidden; 
  padding-right: 10px;
    
  }
  
  .category-list li {
    padding: 10px;
    border: 1px solid #e0e0e0; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
    transition: background-color 0.3s ease; 
  }
  
  .category-list li:hover {
    background-color: #e0e0e0; 
  }
  
  .category-list label {
    display: flex;
    align-items: center;
    gap: 8px; 
    cursor: pointer; 
  }
  
  .category-list input[type="checkbox"] {
    cursor: pointer; 
  }